In [11]:
import pandas as pd

# Load the dataset
data = pd.read_csv("C:/Users/ghass/EV-Battery-Lifecycle-Analysis/data/CM_Data_Explorer May 2024.csv")

In [13]:
# Display the first few rows
print(data.head())

                                  Unnamed: 0 Unnamed: 1  Unnamed: 2  \
0  Mineral demand for electric vehicles (kt)        NaN         NaN
1                                        NaN        NaN         NaN
2                                        NaN        NaN         NaN
3                                        NaN       2023         NaN
4                                        NaN        NaN         NaN

                 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0                       NaN        NaN        NaN        NaN        NaN
1                       NaN        NaN        NaN        NaN        NaN
2  Stated Policies scenario        NaN        NaN        NaN        NaN
3                      2030       2035       2040       2045       2050
4                       NaN        NaN        NaN        NaN        NaN

   Unnamed: 8                  Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12  \
0         NaN                         NaN         NaN         NaN         NaN
1         NaN                         NaN         NaN         NaN         NaN
2         NaN  Announced Pledges scenario         NaN         NaN         NaN
3         NaN                        2030        2035        2040        2045
4         NaN                         NaN         NaN         NaN         NaN

  Unnamed: 13  Unnamed: 14                          Unnamed: 15 Unnamed: 16  \
0         NaN          NaN                                  NaN         NaN
1         NaN          NaN                                  NaN         NaN
2         NaN          NaN  Net Zero Emissions by 2050 scenario         NaN
3        2050          NaN                                 2030        2035
4         NaN          NaN                                  NaN         NaN

  Unnamed: 17 Unnamed: 18 Unnamed: 19
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3        2040        2045        2050
4         NaN         NaN         NaN

In [15]:
# Display the data types and null values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   79 non-null     object
 1   Unnamed: 1   73 non-null     object
 2   Unnamed: 2   0 non-null      float64
 3   Unnamed: 3   62 non-null     object
 4   Unnamed: 4   61 non-null     object
 5   Unnamed: 5   61 non-null     object
 6   Unnamed: 6   61 non-null     object
 7   Unnamed: 7   61 non-null     object
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   62 non-null     object
 10  Unnamed: 10  61 non-null     object
 11  Unnamed: 11  61 non-null     object
 12  Unnamed: 12  61 non-null     object
 13  Unnamed: 13  61 non-null     object
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  62 non-null     object
 16  Unnamed: 16  61 non-null     object
 17  Unnamed: 17  61 non-null     object
 18  Unnamed: 18  61 non-null     object
 19  Unnamed: 19  61 non-null     object
dtypes: float64(3), object(17)
memory usage: 14.7+ KB
None